.title {
    text-decoration: none;
    display: flex;
    gap: 10px;
    position: sticky;
    padding: 20px 0px;
    align-items: center;

}

.title img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.title * {
    color: white !important;
}

.title .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title .logo img {
    width: 35px;
}

h1 {

    color: #c7bbbb;
}

.container h2 {
    color: white !important;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

}

.nav ul li a {
    color: white !important;
    font-size: 20px;
}

.nav ul li a:hover {
    color: rgb(37, 32, 32) !important;
    transition: 200ms;
    font-size: 20px;
}


/*section*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d27979;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.card h2 {
    padding-bottom: 10px;
}

/*footer*/
.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icons i {
    align-items: center;
    color: #ffffff;
    font-size: 35px;
}

.icons i:hover {
    color: #d27979;
}

@media (max-width : 850px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}

@keyframes cardMotion {
    from {
        padding: 10px;
        margin: 10px;
    }

    to {
        padding: 50px;
        margin: 50px;
    }
}